#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS

TARGET_KVER="`dpkg-parsechangelog|grep "^Source"|sed "s/Source:\ [a-z-]*-\(.*\)/\1/g"`"
TARGET_KVERSION="$(TARGET_KVER)-generic"

override_dh_auto_build:
	#KVERSION=$(TARGET_KVERSION) make defconfig-igb
	KVERSION=$(TARGET_KVERSION) make defconfig-wifi
	dh_auto_build -- DISTDIR=debian/tmp KVERSION=$(TARGET_KVERSION)

override_dh_auto_install:
	mkdir -p debian/tmp/usr/share/backports-common
	DISTDIR=debian/tmp KVERSION=$(TARGET_KVERSION) make install

override_dh_auto_clean:
	@-dh_auto_clean -- KVERSION=$(TARGET_KVERSION)
	KVERSION=$(TARGET_KVERSION) make clean
	@-rm .config
	@-rm .config.old
	@-rm .kernel_config_md5
	@-rm Kconfig.kernel
	@-rm Kconfig.versions
	@-rm backport-include/backport/autoconf.h
	@-rm kconf/conf

override_dh_auto_test:

%:
	dh $@
