#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This has to be exported to make some magic below work.
export DH_OPTIONS
export DISTDIR=debian/tmp

override_dh_auto_build:
	echo $(DH_OPTIONS)
	make defconfig-igb
	dh_auto_build

override_dh_auto_install:
	dh_auto_install
%:
	dh $@ 
